body{
    background-color: black;
}

h1 {
    color: white;
}

#p1{
    color: red;
}

#p2{
    color: orange;
}

#p3{
    color: yellow;
}

#p4{
    color: green;
}

.odd {
    background-color: rgba(255, 0, 0, 0.1);
}

.even {
    background-color: rgba(0, 0, 255, 0.1);
}